body{
    background-color: black;
}

.wrapper{
    margin: auto;
    margin-top: 8%;
    width: 25%;
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-style: normal;

      
}

.header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px; 
}

img {
    width: 100%;
}

.footer {
    justify-content: space-between;
    display: flex;
    row-gap: 10px;
    padding: 10px;
}

.footer-left{
    display: flex;
    column-gap: 8px;
}

.footer-text{
    padding: 0px 10px 10px 10px;
}